body {
  background-color: antiquewhite;
}


/* -----start navbar----- */

.navbar{
  border-radius: 0px;
}
.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
    font-family: 'Cantarell';

    .navbar-nav>li>a{
    	color: white;
    }
    .navbar-nav>li>a:hover{
    	color: lightblue;
    }
}


.dropdown-menu {
  background-color: #000000;

  li>a:hover{
    color: lightblue !important;
    background-color: #000000;
  }

}

.navbar-brand{
      border-radius: 25px;
      animation:myfirst 3s;
      color: white !important;
      font-family: 'Tangerine', serif;
      font-size: 40px;
      text-shadow: 2px 2px 2px #aaa;
      -moz-animation:myfirst 3s infinite; /* Firefox */
      -webkit-animation:myfirst 3s infinite; /* Safari and Chrome */
    
      @-webkit-keyframes myfirst /* Firefox */
      {
      0%   {box-shadow: 2px 2px 2px white;}
      25%   {box-shadow: 4px 4px 4px white;}
      50%   {box-shadow: 6px 6px 6px white;}
      75%   {box-shadow: 4px 4px 4px white;}
      110%   {box-shadow: 2px 2px 2px white;}
      }
}
.dropdown-menu{
	li>a{
    color: white !important;
    font-family: 'Cantarell';
	}
}

/* -----end navbar----- */

body {
  p {
  font-family: monospace;
  }
}

.size {
  width: 300px;
  height: 300px;
  border-bottom: 2px solid gray;
  border-right: 1px solid gray;
}

.Tangerine {
  font-family: 'Tangerine', serif;
  font-size: 28px;
  text-shadow: 1px 0px 0px red;
}

.Cantarell {
  font-family: 'Cantarell', serif;
  font-size: 26px;
  text-shadow: 1px 0px 0px gray;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.size {
  width: 100%;
  height: 200px;
}

/*BEGIN max and min width 992px*/
@media (min-width: 992px) {
}

@media (max-width: 992px) {
}


/*BEGIN max and min width 940px*/
@media (max-width: 940px) {
}

@media (min-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) { 
  }

@media (max-width: 768px) {
  .size {
    width: 100%;
    height: 150px;
  }
  .Tangerine {
    font-family: 'Tangerine', serif;
    font-size: 22px;
    text-shadow: 0px 0px 0px red;
  }
  .Cantarell {
    font-family: 'Cantarell', serif;
    font-size: 12px;
    text-shadow: 1px 0px 0px gray;
  }
}
@media (max-width: 766px) {  
}

@media (min-width: 768px) and (max-width: 992px) { 
  }

/*BEGIN max and min width 320px*/
@media (max-width: 320px) {

  .size {
    width: 100px;
    height: 100px;
  }
  .text1 {
    font-size: 10px;
    font-family: 'Cantarell';
  }
  .Tangerine {
    font-family: 'Tangerine', serif;
    font-size: 19px;
    text-shadow: 0px 0px 0px gray;
  }
}
